p.title All categories

= turbo_stream_from "categories"
= turbo_frame_tag "categories"
	= render "categories"

p.title.is-4.mt-5 New category

= render partial: "admin/categories/form", locals: { category: Category.new }