.amount { 
  width: 150px !important;
}

.wrap-button-text {
    height: max-content;
    width: max-content;
    white-space: inherit;
}

.hide {
    display: none !important;    
}

.admin.item {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
    border-bottom: 0.1px dashed !important;
}

.admin.category {
    padding-bottom: 25px !important;
    padding-top: 25px !important;
    border-bottom: 0.1px dashed !important;
}